body {
  background-color: antiquewhite;
}
.header {
  display: flex;
  justify-content: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content-image {
  height: 400px;
}

.top-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  border: 2px solid black;
}

.top-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 2px solid purple;
}

.size-dropdown {
  margin-left: 80%;
  width: 60px;
}

.nav-item-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
