body {
  background-color: antiquewhite;
}
.header {
  display: flex;
  justify-content: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content-image {
  width: 300px;
}
